{{define "content"}}

<div class="calc-wrapper">
    <h5> Ongoing </h5>
    <div class="ongoing">
        {{range .Calculations}}
            {{if (lt .Progress.Current .Progress.Outof)}}
                <div class="elem">
                    <div class="result">
                        {{.Equation}} = {{.Result}}
                    </div>

                    <div class="progress">
                        <img src="/public/images/cog.png" alt="Cog icon" width="20" height="20">
                        <progress id="progress" value="{{.Progress.Current}}" max="{{.Progress.Outof}}"></progress>
                    </div>
                </div>
            {{end}}
        {{end}}
    </div>

    <h5> Finished </h5>
    <div class="finished">
        {{range .Calculations}}
            {{if (ge .Progress.Current .Progress.Outof)}}
                <div class="elem">
                    <div class="result">
                        {{.Equation}} = {{.Result}}
                    </div>

                    <div class="progress">
                        <img src="/public/images/done.png" alt="Done icon" width="20" height="20">
                        <progress id="progress" value="{{.Progress.Current}}" max="{{.Progress.Outof}}"></progress>
                    </div>
                </div>
            {{end}}
        {{end}}
    </div>
    <div></div>
</div>
{{end}}
